body{
	margin:0;
	font-family:Arial,verdana;
	background-color: #f2f2f2;
}

li{
	list-style-type:none;
}

a{
	text-decoration: none;
}



/* ヘッダー */

.header-zure{
	height: 80px;
	width: 100%;
}

header{
	background-color: #2e8b57;
	height: 80px;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 20;

}

.header-left{
	float: left;
	padding-left: 50px;
	color: #fff;
}

.header-left h1{
	line-height: 80px;
	margin: 0;
}

.header-left a{
	color: #fff;
}


.header-right{
	float:right;
	height: 80px;
}

.menu{
	font-size:16px;
	margin:0;
}

.menu a{
	display: block;
	height: 80px;
	color: #fff;
	line-height: 80px;
}

.menu > li{
	float: left;
	width: 150px;
	text-align: center;
}

.menu a:hover{
	background-color: #81F781;
}


/* ハンバーガーメニュー */

#nav-drawer{
	display: none;
	position: relative;
}

.nav-unshown{
	display: none;
}

#nav-open{
	display: inline-block;
	width: 30px;
	height: 22px;
	vertical-align: middle;
}

#nav-open span,#nav-open span:before,#nav-open span:after{
	position: absolute;
	height: 5px;
	width: 30px;
	border-radius: 3px;
	background:#fff;
	display: block;
	content:'';
	cursor:pointer;
}

#nav-open span:before{
	bottom: -8px;
}

#nav-open span:after{
	bottom: -16px;
}

#nav-close{
	display: none;
	position: fixed;
	z-index: 99;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background:black;
	opacity: 0;
	transition: .3s ease-in-out;
}

#nav-content{
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 90%;
	max-width: 300px;
	height: 100%;
	background:#fff;
	transition: .3s ease-in-out;
	-webkit-transform:translateX(-105%);
	transform: translateX(-105%);
}

#nav-input:checked ~ #nav-close{
	display: block;
	opacity: .5;
}

#nav-input:checked ~ #nav-content{
	-webkit-transform:translateX(0%);
	transform: translateX(0%);
	box-shadow: 6px 0 25px rgba(0,0,0,.15)
}


/* トップ画面 */

.container{
  height: 540px;
  padding:50px 0;
  background-size: cover;
  color:#fff;
  text-align: center;	
  margin:0;
}

.top-wrapper {
  background-image: url(../img/atsukai2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  padding:60px 0;
}

#tenmei{
	font-size:80px;
	margin-top: 40px;
}

.top-wrapper2 {
	width: 1000px;
	margin:30px auto 0;
    background-image: url(../img/chugaku.png);
}

.top-wrapper3 {
	width: 1000px;
	margin:0 auto;
    background-image: url(../img/chugaku2.png);
}

.container a{
	font-size:20px;
	color:#fff;
	background-color: green;
	padding:10px 20px;
	border-radius: 10px;
	display: block;
	width: 200px;
	margin:300px auto;
	border:2px solid #fff;
}

.container h2{
	font-size: 42px;
	margin:0;
	text-shadow: 2px 2px #848484;
}

.container p{
	font-size: 28px;
	margin:0;
	text-shadow: 2px 2px #848484;
}


/*　メイン */

.contents-wrapper{
	width: 900px;
	margin:50px auto;
	text-align: center;
	padding-bottom: 20px;
}

.contents-text{

}

.contents-wrapper h2{
	font-size:30px;
}

/* 4つのリンク */

.contents-link{
	width: 900px;
	margin:0 auto;
}

.upper-link{
	display: flex;
	margin-bottom: 12px;
	justify-content: space-between;
}

.downer-link{
	display: flex;
	justify-content: space-between;
}

.link-container {
	display: block;
	width: 48%;
	text-align: center;
	line-height: 130px;
	border:3px solid #339966;
}

.link-container a{
	display: block;
	height: 130px;
	font-size:28px;
}

.boy{
	background-image:url(../img/link_ao.png);
	background-size: cover;
}

.girl{
	background-image:url(../img/link_girl.png);
	background-size: cover;
}

.taisofuku{
	background-image:url(../img/link_taiso.png);
	background-size: cover;
}

.bag{
	background-image:url(../img/link_bag.png);
	background-size: cover;
}

/* 婦人服 */

.yofuku-wrapper{
	width: 100%;
	background:#fff;
	text-align: center;
	padding-top: 40px;
	margin-top: 30px;
}

.yofukus{
	width: 1000px;
	margin:40px auto 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:0 auto;
	padding:20px;
	background-color: #FBEFF8;
}

.yofuku{
	width: 270px;
	height: auto;
	padding:10px 5px;
	margin:10px 2px 20px;
}

.price{
	margin:10px 0 ;
	font-size: 20px;
}

.text{
	font-size: 18px;
	margin-top:0;
}


.yofuku img{
	max-width: 100%;
	height: 350px;
}


/* 修理 */

.repair-wrapper{
	height: 650px;
	padding:70px 0 ;
 	background-image: url(../img/repair.jpg);
	background-size: cover;
}

.repair-top{
	text-align: center;
	color:#fff;
	text-shadow: 2px 2px 2px silver;	
}

.repair-top p{
	font-size: 20px;
}

.repair-contents{
	width: 1000px;
	margin:0 auto;
	display: flex;
	margin-top: 350px;
}

.repair{
	flex:1;
	width: 30%;
	height: 150px;
	margin:5px;
	color:#fff;
	text-align: center;
	text-shadow: 2px 2px 2px silver;
}

.repair-contents a{
	display: block;
	height: 150px;
	color:#fff;
}

.repair-student{
	background-image: url(../img/girl.jpg);
	background-size: cover;
}

.repair-men{
	background-image: url(../img/men.jpg);
	background-size: cover;
}

.repair-lady{
	background-image: url(../img/lady.jpg);
	background-size: cover;
}

.repair-contents h2{
	margin:0;
}


/* お知らせ */

.info-wrapper{
	border:4px dashed #339966;
	width: 1000px;
	margin:40px auto 10px;
	text-align: center;
	background-color: #fff;
}

.info-wrapper h1{
	color:#424242;
}

.news-contents{
	padding:0 40px 30px;
}

.news-content{
	display: flex;
}

.news-date{
	margin-right: 30px;
}

.news-nakami a{
	color: blue;
}

.news-nakami a:hover{
	text-decoration: underline;
}


/* 営業時間と地図 */

.eigyo-wrapper{
	width: 100%;
	padding:50px 0;
	text-align: center;
	background-color: #fff;
}

.eigyo-contents{
	width: 1000px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

table{
	border-collapse: collapse;
	width: 550px;
	border:#fff;
}

thead{
	background-color: #72583B;
	color: #fff;
}

tbody{
	color: #72583b;
	font-weight: bold;
	background-color: #d8d8d8;
}

tr{
	height: 40px;
	text-align: center;
}

.sento{
	width: 160px;
}

.sunday{
	width: 140px;
	font-size:14px;
}

.address{
	margin-top: 10px;
	border:1px dashed #585858;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding:20px;
}

.shop-gazou{
	margin-top: 10px;
	width: 100%;
	height: 200px;
}

.shop-gazou img{
	background-size:cover;
	max-width: 100%;
	height: 180px;
}


/* 地図 */

.map-content{
	position: relative;
	width: 500px;
	height: 60px;
	padding-top: 40%;
	margin-left: 20px;
	border:3px solid grey;
	z-index: 10;
}

.map-content iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height:100%;
}

footer{
	width: 100%;
	height: 60px;
	background-color:#2e8b57;
	color:#fff;
	text-align: center;
	padding-top: 10px;
}





/* タブレット用レイアウト */

@media(max-width:1100px){

	/* ヘッダー */

	.menu li{
		width: 110px;
		font-size:15px;
	}

	.menu a{
		padding: 0 10px;
	}

	/* トップ画面 */

	.container {
		width: 100%;
		height: 400px;
	 	background-position: center;
     	background-size: cover;
     	padding-top: 250px;
	}

	.container a{
		margin:30px auto;
	}

	
	.link-wrapper{
		width:850px;
		margin:0 auto;
	}

	.gazou-upper-links{
		margin-bottom: 0;
	}

	.link-container{
		width: 400px;
		height:100px;
		margin:5px;
	}


	/* 洋服 */
	.yofuku-wrapper{
		width: 100%;
	}

	.yofukus{
		width: 90%;
		justify-content: center;
	}

	.yofuku{
		margin:10px;
	}


	/* 修理 */

	.repair-wrapper{
		width: 100%;
		height: 300px;
	}

	.repair-contents{
		width: 90%;
		margin-top: 70px;
	}

	.repair{
		width: 30%;
		height: 100px;
		margin:5px;
	}

	.repair a{
		height: 100px;
	}

	.repair{
		margin-bottom: 5px;
	}


	/* お知らせ */

	.info-wrapper{
		width: 90%;
		margin:40px auto 0;
	}

	/* 営業時間 */

	.eigyo-wrapper{
		width: 100%;
	}

	.eigyo-contents{
		width: 90%;
		margin:0 auto;
	}

	.time-content{
		width: 450px;
	}

	table{
		width: 450px;
	}

	.sento{
		width: 100px;
	}

	.address{
		padding:0 10px;
	}

} 



/* 大スマートフォン用レイアウト */

@media(max-width:880px){

	.header-right{
		display: none;
	}

	#nav-drawer{
		display: block;
		float: right;
		margin:30px 20px;
	}

	.menu{
	font-size:16px;
	margin:0;
	}

	.menu a{
		display: block;
		width: 100%;
		height: 80px;
		color: #fff;
		background-color: #2e8b57;
		line-height: 80px;
	}

	.menu > li{
		width: 100%;
	}

	.menu a:hover{
		background-color: #81F781;
	}




	.top-wrapper{
		 height: 350px;
	 }

	 .top-wrapper2{
		 height: 350px;
	 }

	 .contents-wrapper{
	 	width: 100%;
	 }

	 .contents-text{
	 	padding:10px;
	 }

	 .contents-link{
	 	width: 100%;
	 }


	.upper-link{
		display: block;
	}

	.downer-link{
		display: block;
	}

	.link-wrapper{
		width: 90%;
		margin:0 auto;

	}

	.link-container {
		display: block;
		width: 90%;
		margin:12px auto;
		height: 150px;
		line-height: 150px;

	}

	.link-container a{
		display: block;
		height: 150px;
		font-size:36px;
		font-weight: bold;
	}


}

/* 小スマートフォン用レイアウト */


@media(max-width:780px){

	.container{
		height: 250px;
	 	padding-top: 200px;
	 }

	 #seya{
	 	font-size:24px;
	 }

	 #tenmei{
	 	font-size:40px;
	 }

	 .container h2{
			font-size: 34px;
	}

	.container a{
		font-size:20px;
		color:#fff;
		background-color: green;
		padding:5px 10px;
		border-radius: 20px;
		display: block;
		width: 200px;
		margin:30px auto;
		border:1px solid #fff;
}


	/* 修理 */

	.repair-wrapper{
	/*	height: 650px;
		padding:70px 0 ;
	 	background-image: url(../img/repair.jpg);
		background-size: cover;*/
		margin-bottom: 500px;
	}

	.repair-top{
	/*	text-align: center;
		color:#fff;
		text-shadow: 2px 2px 2px silver;*/
	}

	.repair-top p{
		font-size: 20px;
	}

	.repair-contents{
		width: 95%;
		margin:0 auto;
		display: block;
		margin-top: 225px;
	}

	.repair{
		width: 100%;
		height: 130px;
		margin:5px;
		color:#fff;
		text-align: center;
		text-shadow: 2px 2px 2px silver;
	}

	.repair-contents a{
		display: block;
		height: 150px;
		color:#fff;
	}

	.repair-student{
		background-image: url(../img/girl.jpg);
		background-size: cover;
	}

	.repair-men{
		background-image: url(../img/men.jpg);
		background-size: cover;
	}

	.repair-lady{
		background-image: url(../img/lady.jpg);
		background-size: cover;
	}

	.repair-contents h2{
		margin:0;
		padding-top: 50px;
	}





	/* 営業時間 */

	.eigyo-contents{
		display: block;
		width: 100%;
	}

	.time-content{
		width: 100%;
	}

	table{
		width: 100%;
	}

	.map-content{
		width: 95%;
		margin:0 auto;
	}

	.map-content iframe{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height:100%;
	}
